!*
.DS_Store
.terraform
.vagrant/bundler
.vagrant/machines
.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
.vagrant/rgloader
*.box
manifest.json
packer_cache/
packer-manifest.json
site/
venv/
