{{ ansible_managed|comment }}

include /etc/nginx/modules-enabled/*.conf;
pid /run/nginx.pid;
user www-data;
worker_processes auto;
worker_rlimit_nofile 65535;

events {
    multi_accept       on;
    worker_connections 65535;
}

http {
	access_log /var/log/nginx/access.log;
	default_type application/octet-stream;
	error_log /var/log/nginx/error.log;
	gzip on;
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/mime.types;
	include /etc/nginx/sites-enabled/*;
	keepalive_timeout 65;
	sendfile on;
	ssl_prefer_server_ciphers on;
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
	tcp_nodelay on;
	tcp_nopush on;
	types_hash_max_size 2048;
}
